
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@400;500&display=swap');

@font-face {
  font-family: 'Blastimo';
  src: url('/assets/fonts/Blastimo.woff2') format('woff2'),
       url('/assets/fonts/Blastimo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #B9B28A;
  background-color: linear-gradient(90deg,rgba(45, 60, 64, 1) 0%, rgba(50, 50, 61, 1) 38%, rgba(87, 87, 71, 1) 100%);
  line-height: 1.6;
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Basic typography for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; 
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #EBE5C2; 
}


code, pre {
  font-family: 'Roboto Mono', monospace;
  background-color: #EBE5C2; 
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.9em;
}

pre {
  display: block;
  padding: 10px;
  overflow-x: auto; 
  border-radius: 8px;
}

/* Link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mat-typography {
  font-family: 'Roboto', sans-serif;
}


.api-test-card .mat-card-title h1 {
  font-size: 24px; 
  margin: 0;
}


.mat-card-content {
  padding: 16px;
}

.mat-form-field {
  font-family: 'Roboto', sans-serif;
}

.mat-input-element {
  font-family: 'Roboto', sans-serif;
}