<div class="api-form-section">
  <h2>Get Thumbnail</h2>
  <div class="form-container">
    <div class="thumbnail-input">
      <mat-form-field appearance="outline" class="full-width" style="width: 100%;">
        <mat-label>Thumbnail ID</mat-label>
        <input matInput [(ngModel)]="thumbnailId" placeholder="Enter thumbnail ID">
      </mat-form-field>
    </div>
    <button
      mat-flat-button
      class="get-thumbnail-btn"
      (click)="getThumbnail(thumbnailId)">
      SEARCH
    </button>
  </div>

  <div class="thumbnail-flex-container">
    @if(!getThumbnailLoading && !getThumbnailError && title){
      <div class="thumbnail-details-card">
      
      <table mat-table [dataSource]="thumbnailDetailsRows" class="mat-elevation-z0 thumbnail-mat-table">

        <!-- Field Name Column -->
        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">{{row.field}}</td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">{{row.value}}</td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['field', 'value'];"></tr>
      </table>

      </div>
    }

        @if(!getThumbnailLoading && !getThumbnailError && imageDataUrl){
        <div class="thumbnail-image-card">
            <img [src]="imageDataUrl" alt="Thumbnail" class="thumbnail-image-preview" />
        </div>
        }
      </div>

  @if (getThumbnailLoading) {
    <div class="loading-indicator">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  }
  @if (getThumbnailError) {
    <div class="error-message">
      {{ getThumbnailError }}
    </div>
  }
</div>
