
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@400;500&display=swap');


@font-face {
  font-family: 'Blastimo';
  src: url('/assets/fonts/Blastimo.woff2') format('woff2'),
       url('/assets/fonts/Blastimo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #242B33;
  background-color: #242B33;
  line-height: 1.6;
  box-sizing: border-box; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #262b31;
}


/* Basic typography for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600; 
  margin-top: 2rem;
  margin-bottom: 0.5em;
  color: #F6AE28; 
;
}


code, pre {
  font-family: "Roboto Mono", monospace;
  background-color: #F6AE28; 
  padding: 2px 4px;
  border-radius: 8px;
  font-size: 0.9em;
}

pre {
  display: block;
  padding: 10px;
  overflow-x: auto; 
  border-radius: 8px;
}

/* Link styling */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.admin-panel-card .mat-card-title h1 {
  font-size: 24px; 
  margin: 0;
}


.mat-card-content {
  padding: 16px;
}



