<form class="upload-form" (ngSubmit)="uploadVideo()" autocomplete="off">
  <h2 class="form-title">Upload Video</h2>
  <div class="form-inputs">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Video Title</mat-label>
      <input matInput [(ngModel)]="uploadTitle" name="title" placeholder="Enter video title" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Friend Tags (comma-separated)</mat-label>
      <input matInput [(ngModel)]="uploadFriendTagsInput" name="friendTags" placeholder="e.g., John, Jane">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Game Category</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        [(ngModel)]="categoryInput"
        name="categoryInput"
        placeholder="Start typing to search categories"
        (input)="filterCategories()"
        required
        [disabled]="uploadVideoLoading"
      >
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCategorySelected($event.option.value)">
        @for (cat of filteredCategories; track cat.id) {
          <mat-option [value]="cat.categoryName">
            {{ cat.categoryName }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <div class="action-row">
      <div class="choose-file-group">
        <button mat-flat-button class="choose-file-btn"
                type="button"
                (click)="fileInput.click()"
                [disabled]="uploadVideoLoading">
          <b>SELECT FILE</b>
        </button>
        <span class="chosen-file-name"><b>{{ selectedFile?.name || 'CHOOSE A FILE' }}</b></span>
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="video/*" hidden>
      </div>
      <div class="button-group">
        <span class="file-name"><b>{{ selectedFile ? 'READY' : 'NOT READY' }}</b></span>
        <button mat-flat-button class="upload-video-button"
                type="submit"
                [disabled]="!selectedFile || uploadVideoLoading"
                aria-label="Upload Video">
                <b>UPLOAD</b>
        </button>
      </div>
    </div>

  </div>
  @if (uploadVideoLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (uploadVideoError) {
    <div class="error-message">
      {{ uploadVideoError }}
    </div>
  }
</form>
